extends layout

block content
  style(type="text/css")
  div(id="container")
    div(id="header")
      h1
        p
          div(id="title") 
          Welcome
          span(class="dot green")
        p
         div(id="title") You look like this beautiful cat!
         img(src='http://www.kewlwallpapers.com/bulkupload/212/Animals/Cats/beautiful%20cat.jpg', alt='some_text')
        Logout
    