body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 7px;
  background-color: black;
}

a {
  color: #00B7FF;
  font-size: 12px;
}


#header{
	margin-left: 30px;
	margin-bottom: 9px;
	max-width: 50%;
	height:96px;
	align:center;
	color: white;
	padding-left: 15px;
	padding-bottom: 0;
	
}
#title{
	font-size: 40px;
}
#profile{
	float:left;
}




